/* Font 1 */
@font-face {
    font-family: 'Font1';
    src: url('./Bodera-Regular.otf') format('opentype');
  }
  
  .font1 {
    font-family: 'Font1', sans-serif;
  }
  
  /* Font 2 */
  @font-face {
    font-family: 'Font2';
    src: url('./EarlyLunar-Regular.otf') format('opentype');
  }
  
  .font2 {
    font-family: 'Font2', sans-serif;
  }
  
  /* Font 3 */
  @font-face {
    font-family: 'Font3';
    src: url('./Jura-VariableFont_wght.ttf') format('truetype');
  }
  
  .font3 {
    font-family: 'Font3', sans-serif;
  }
  

/* Font 3 */
@font-face {
    font-family: 'Font4';
    src: url('./HenriDidot.otf') format('opentype');
    }
    
    .font4 {
    font-family: 'Font4', sans-serif;
    }
    